
@import url('https://fonts.googleapis.com/css?family=Lato');
*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    
}
 body{
  background-color: #ddd  
}

.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #00acc0;
    z-index:25;
    text-transform: uppercase;
    box-shadow: 0 0 5px #777;
}



/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
}

/* Change the color of links on hover */
.topnav a:hover {
    cursor: pointer ;
}

.logo{
    padding: 0 20px;
    font-weight: bold;
}
.top-right{
    
    float: right;
    
}
.top-right a{
    padding:15px;
    
}

.fa-ellipsis-v:focus{
    color: #555;
}


/* Style the search box inside the navigation bar */

.search-container {
    /* float: right; */
    position: absolute;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    
  }
  
  .search-container i{
      position: absolute;
      left:0;
      top:8px;
      padding: 9px 8px;
      color: #fff;
  }
.search-container input[type=search] {
   
    padding: 6px 6px 6px 35px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    font-family: 'Lato','FontAwesome';
    width: 500px;
    border-radius:3px;
    background-color: #3cbbcc;
    color: #fff;
  }
  .search-container input::placeholder {
    
    color: #ddd;
    font-size: 15px;
  }
  .search-container input[type=search]:focus{
      border-color: #ddd;
      color: #fff;
      font-size: 15px;

  }
.topnav .search-container button {
    /* float: right; */
    padding: 6px 10px;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .topnav .search-container button:hover {
    background: #ccc;
  }

  .notif_num{
        position: relative;
        top: -10px;
        left:25px;
        font-size: 10px;
        background-color: #fc7318;
        color: #fff;
        padding: 1px 4px;
        border-radius: 50%;
  }

 .top-right> .small{
    visibility: hidden;
}
/* Search division styles */

#search_responsive{
    display: none;
    animation-duration: 0.5s;
    position: relative;
    top: 9vh;
    margin: auto;
    width: 50%;
    
    
    
}
#search_responsive > form > input{
    color: #ccc;
    background-color: #00acc0;
    width: 100%;
    height:30px;
    border: none;
    border-radius: 20px;
    text-align: center;
    color: #ccc;
    
    
}
#search_responsive > form > input::placeholder{
    text-align: center;
    color: #ccc;
    overflow: unset;
}

/* Right side menu style */
.menu{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index:1 ;
    height: 100%;
    width: 220px;
    overflow-y: scroll;
    background: #fff;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.profile{
    position: relative;
    top: 50px;
    padding-top: 8px;
    display: block;
    height: 130px;
    /* background-color: rgb(236, 236, 236); */
    background-image: url("https://attentionmedia.se/wp-content/uploads/2017/11/white-background-4-300x225.jpg");
}
.sub_profile{
     
    padding: 8px 0 0 20px ;
}

.username{
    font-weight: 800;
    font-size: 14px;
}

.usermail{
    font-size: 13px;
    font-weight: 800;
    color: #999;
}

.usermail i{
    position: relative;
    top: 0;
    padding: 0 15px;
}

.usermail:hover{
    color: #555;
    cursor: pointer;
}
.menu_items{
    padding: 10px 0px;
}
.menu_items li{
    color: #555;
    font-size: 12px;
    font-weight: 600;
    display: block;
    position: relative;
    top: 50px;
    padding: 10px 0 10px 20px;
    
}

.menu_items li:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.menu_items li i{
    padding-right: 15px;
    color: #555;
}

.active{
    background-color: rgb(247, 247, 247);
}

.footer{
    border-top: 1px solid rgb(219, 219, 219);
    padding: 20px;
    position: relative;
    top: 50px;
    font-size: 13px;
    list-style: none;
    font-weight: 600;
}

.footer li a{
    text-decoration: none;
    color: #22909e
}

.fa-chevron-right{
    color: #555;
    float: right;
    padding-left: 30px;
    padding-top: 2px;
}

.container{
    position: relative;
    top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

.main{
    overflow: auto;
    
}
.info{
    z-index:0;
    position: relative;
    top: 20px;
    width: 60%;
    margin: 0 auto;
   
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* border: 1px solid #fff; */
    
    grid-column-gap: 25px;
    user-select: text;
}

.infos{
    background-color: rgba(255, 255, 255, 0.8);
    /* padding: 20px; */
    box-shadow: 0 2px 5px rgb(207, 207, 207);
    position: relative;
    height: 130px;

  }
.infos ul{
    list-style: none;
    font-weight: bold;
    padding: 20px;
}
.infos ul li{
    padding: 5px 0;
    text-transform: uppercase;
    
    font-size: 12px;
    color: #555;
}

.title_flex{
    background-color: #3cbbcc;
    padding:2px 5px;
    text-transform: lowercase;
    color: #fff;
    border-radius: 3px;
    float: right;
    font-size: 10px;
}

.infos> ul >.sales_money{
    font-size: 20px;
}

.infos> ul >.sales_money > span{
    font-size: 12px;
    text-transform: capitalize;
    padding-left: 5px;
}

.sales_money_rate{
    
    padding: 2px 5px;
    color: rgb(25, 170, 61);
}

.infos> ul > li > i{
    float:right;
}

.infos> ul > li > i:hover{
    cursor: pointer;
    
}

.invoice_details{
    background-color: #fff;
    position: relative;
    top: 30px;
    width: 60%;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgb(207, 207, 207);
}

.invoices{
    padding-top: 10px;
}
.invoices > .title_invoice{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    color: #555;
    padding-left: 20px;
}

.invoices > .search_invoice{
    float: right;
    padding-right: 20px;
     
}

.invoices > .search_invoice >form > input[type=search]{

    border-radius: 30px;
    width: 60px; 
    text-align:right;
    border: none;
    background-color: #ddd;
    padding: 5px 2px ;
    font-size: 12px;
    cursor: pointer;

}
.invoices > .search_invoice >form > input::placeholder{
    clear: both;
    color: rgb(107, 107, 107);
    font-size: 12px;
    text-align: right;
   
}
.invoices > .search_invoice >form > input[type=search]:focus{
    width: 150px;
    
    transition: all 0.2s ease-in-out;
}
.invoice_table{
    border-collapse: collapse;
    padding: 0 20px;
    width: 95%;
    margin: 0 auto;
    color: #555;
    
}

td, .th > th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 15px 0;
    
    
}
.th > th{
    font-weight:900;
    font-size: 14px;
}

td{
    font-weight: 600;
    font-size: 12px;
}
.fa-spinner{
    color: #229e33;
}

canvas{
    position: absolute;  
    bottom: 0;

}

/* Right Menu bar */
.right_sidebar{
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    z-index:1 ;
    height: 100vh;
    width: 220px;
    overflow: auto;
    background: rgb(206, 206, 206);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.messages{
    position: relative;
    top: 8vh;
    padding-top: 15px;
    display: block;
    height: 150px;
    
}

.msg_title{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;    
    color: #555;
    padding: 20px;
}

.messages_list{
    padding: 20px;
    font-size: 12px;
}
.messages_img{
    float: left;
}
.messages_user{
    font-weight: 900;
    padding: 2px 10px 2.5px 10px;
    float: left;
}

.messages_time{
    padding: 2.5px 10px 0 10px ;
    float:left;
}

.events{
    clear: both;
    display: block;
    position: relative;
    top:10vh;
    padding-top: 10px;
    
}
.event_title{
    clear: both;
    position: relative;
    box-sizing:border-box;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;    
    color: #555;
    /* margin-bottom: 20px; */
    padding-left: 20px;
    padding-top: 20px;
}
.event_title >i{
    position: relative;
    top: 5px;
    float: right;
    font-size: 12px;
    padding-right: 20px;
}

.events_list{
    margin: 0 auto;
    width: 80%;
    position: relative;
    color: #555;
    font-size: 12px;
    font-weight: 600;
    display: block;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(173, 173, 173);
    
}
.event_nums{
    float: right;
    background-color: #17828a;
    padding: 5px 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 200;
    text-align: center;
}

.more_event{
    list-style: none;
    text-transform: capitalize;
    margin: 0 auto;
    width: 80%;
    color: #999;
    font-size: 10px;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(173, 173, 173);
}

.stat_chart{
    
    position: relative;
    top:3vh;
    clear: both;
    margin: 0 auto;
    height:40vh; width:80vw;
    padding: 10px;
}

#notifs{
    display: none;
    position: fixed;
    top: 50px;
    right: 0;
    width: 250px;
    font-size: 12px;
    z-index: 999;
    background-color: rgb(240, 240, 240);
    color: rgb(36, 36, 36);
    text-align: left;
    list-style: none;
    margin-right: 3%;
    animation-duration: 0.5s;
    
}

#notifs li{
    padding:10px 0 10px 10px;
    list-style: none;
   
}
#notifs li:hover{
    background-color: #999;
    color: #fff;
    cursor: pointer;
}
.notif_list:nth-child(odd){
    border-left:3px solid  #1c18fc;   
 }
.notif_list:nth-child(even){
    border-left:3px solid  #188efc;   
 }

 #more_notifs{
     clear: both;
     background-color: rgb(240, 240, 240);
     font-size: 10px;
     text-align: center;
     border: none;
     padding: 15px 0px;
     cursor: pointer;
 }
 #more_notifs:hover{
     background-color:  rgb(157, 171, 255);
 }

 